html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* PAGE 1 */

.container-page1 {
  margin: 0 30px;
  font-family: 'Sora', sans-serif;
}

.img-container,
.container-2,
.wrap, .btn-wrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.image-top {
  width: 80vw;
  height: 70vh;
}

.text-top {
  text-align: left;
  line-height: 3rem;
  letter-spacing: -1px;
  color: rgb(46, 4, 101);
  font-size: xx-large;
}


.btn {
  width: 220px;
  margin: 0 auto;
  background-color: #a4acff;
  color: rgb(37, 23, 107);
  padding: 12px 40px;
  border-radius: 50px;
  border: none;
  font-weight: bold;
  font-family: 'Sora', sans-serif;
}



/* PAGE 2 */


.container-page2 {
  padding: 80px 20px;
}

.wrap {
  padding: 20px 0;
}

.image {
  height: 40vw;
}

.text {
  display: flex;
  justify-content: left;
  font-family: 'Sora', sans-serif;
  font-size: small;
  color: rgb(46, 4, 101);
}

.para {
  width: 40vw;
  font-size: small;
}

/* FOOTER  */

.footer {
  display: flex;
  background-color: #a4acff;
  height: 30vh;
  justify-content: space-around;
  align-items: center;
  line-height: 2.5;
  color: rgb(46, 4, 101);
}

.socials {
  line-height: 1.5;
}

.footer-img {
  height: 100px;
}

.socials a {
  color: rgb(24, 12, 85);
}


/* ANIMATION */

@keyframes fadeFromRight {
  from {
    opacity: 0;
    transform: translateX(100%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.fade-in-from-right {
  animation: fadeFromRight 1s ease-in-out;
}


/* MEDIA QUERIES */


@media screen and (min-width: 600px) {
  .container-page1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .image-top {
    height: 100vh;
    width: 50vw;
  }

  .text {
    font-size: large;
  }

  .para {
    font-size: large;
  }
}