html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* PAGE 1 */

.img-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}

.image-top{
  width: 100vw;
  height: 70vh;
  }


.container-page1 {
  margin: 30px;
}

.container-2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

h1 {
  font-family: 'Sora', sans-serif;
}

.know-btn {
  display: block;
  width: 220px;
  margin: 0 auto;
  background-color: #cfa2ff;
  color: rgb(37, 23, 107);
  padding: 15px 40px;
  border-radius: 50px;
  font-weight: bold;
  text-decoration: none;
  font-family: 'Sora', sans-serif;
}

/* PAGE 2 */


.container-page2 {
  padding: 80px 0;
}

.wrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding : 20px 0;
}

.image{
  height: 40vw;
  width: 40vhx;
}

.text {
  font-family: 'Sora', sans-serif;
  font-size: small;
}

.test-button {
  width: 220px;
  margin: 0 auto;
  background-color: #cfa2ff;
  color: rgb(37, 23, 107);
  padding: 12px 40px;
  border-radius: 50px;
  border: none;
  font-weight: bold;
  font-family: 'Sora', sans-serif;
}

.btn-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer{
  display: flex;
  background-color: #cfa2ff;
  height: 30vh;
  justify-content: space-around;
  align-items: center;
  /* font-family: 'Sora', sans-serif; */
  line-height: 2.5;
}

.socials{
  line-height: 1.5;
}

.footer-img{
  height: 100px;
}

.socials a{
    color:rgb(24, 12, 85);;
}

/* ANIMATION */

@keyframes fadeFromRight {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.fade-in-from-right {
  animation: fadeFromRight 1s ease-in-out;
}

/* MEDIA QUERIES */


@media screen and (min-width: 600px) {
  .container-page1 {
    display: flex;
  }

  .container-2 {
    display: flex;
    margin: auto auto;
  }

  .image-top{
    width: 50vw;
    height: 100vh;
    }


  .text-1 {
    font-size: 35px;
    font-weight: bold;
    line-height: 50px;
    letter-spacing: -1px;
  }

  p {
    font-size: x-large;
  }

}
