
.bodyy{
  min-height: 100vh;
  width: 100%;
  padding-top: 5px;
  background-color: white;
}
.image-handler{
  /* height:50vh ; */
  /* width: 100%; */
  /* background-color: green; */
}
.testimage img{
  height: 240px;
  width: 400px;
  margin-left: 33%;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 360px;
  min-width: 70%;
  background-color: #FF2171;
  /* border-radius: 15px; */
  box-shadow: 1px 1px 4px 1px #333;  
  overflow: hidden;
  padding: 20px;
  margin-top: 8px;
  position: relative;
}
.heading-txt{
  color:black;
  font-size: 30px;
  font-weight: bold;
  margin-top: 8%;
  text-align: center;  
  text-transform: uppercase;
}
.question{
  margin:0px;
  background-color: white;
  box-shadow: 1px 1px 4px 1px #333;
  /* border-radius: 5px; */
  padding:4px;
  font-size: 16px;
  font-weight: 550;
  font-family: sans-serif;
  min-width: 100%;
  height: 85px;
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  
}
#question-number{
  margin-right: 5px;
}
.option-container{
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
}
/* .option-container input{
  visibility: hidden;    
} */
.option-btn{
  box-shadow: 1px 1px 2px 1px #333;
  padding: 5px 15px;
  font-size: 15px;
  border-radius: 5px;
  border:none;
  outline: none;
  transition: 0.3s;
  margin: 8px;
  min-height: 20px;
  text-align: justify;
  font-family: sans-serif;
  color: black;
  background-color: white;
  width: calc(50% - 16px);
}

.checked{
  background-color: rgb(179, 83, 179);
  color:white;
  box-shadow: 3px 3px 4px 1px rgb(78, 69, 78);
}
.option-btn:hover{
  background-color: rgb(212, 118, 212);
  color:white;
}
#next-button{
  padding:10px;
  border:none;
  background-color: purple;
  background-color: #2D4356;
  color:white;
  border-radius: 5px;
  box-shadow: 1px 1px 4px 1px #333;
  font-size: larger;
  font-weight: bold;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  transition: 0.2s;
  width:100px;
  bottom: 15px;
}
#next-button:active{
  box-shadow:none;    
}
.show-score{
  position: absolute;
  top:30%;
  font-size: 40px;
  text-align: center;  
}