section {
    overflow: hidden;
    margin-top: 5%;
    height: 95%;
    width: 100%;
}
.registerForm{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90%;
}

input{
    padding: 5%;
    margin: 1% 0px;
}